stages:
  - docs
  - publish

docs:
  stage: docs
  image: alejandroastudillo/tasho-base
  before_script:
    - pip install --upgrade docutils
    - pip install --upgrade sphinx-rtd-theme
  script:
    - cd docs && make html
  artifacts:
    paths:
      - docs/build
  only:
    - main

pages:
  stage: publish
  tags:
    - pages
  dependencies:
    - docs
  script:
    - mkdir public
    - cp -R ./docs/build/html/* ./public/
  artifacts:
    paths:
      - public
  only:
    - main
